/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6.1
*/

/* Theme customization starts here
=====================================================*/


#container_EMAIL input{
	width:100% !important;
}

div#container_EMAIL {
    max-width: 300px;
    margin: 0 auto;
}

.fieldLabel {
    color: #d4b26a;
    margin-bottom: 5px;
    font-size: 16px;
}

.box_buttonStyle{
	max-width:150px;
	margin:0 auto;	
}

input.buttonStyle{
	background: #d4b26a  !important;
    display: block;
    max-width: 230px;
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 1px;
	border-radius:0 !important;
	
	-webkit-box-shadow: inset 0 0 0 0px rgba(0,0,0,.03);
    box-shadow: inset 0 0 0 0px rgba(0,0,0,.03);
    background-image: none !important;

}

input.buttonStyle:hover {
    background-color: #fff  !important;
    color: #d4b26a !important;
    outline: 5px solid #d4b26a;
    text-decoration: none !important;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
	z-index: 999;
}
 
/* Inner */
.popup-inner {
    max-width: 380px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background: #424c56;
}

.popup-inner h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 25px;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    background:#fff;
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#000;
}

.post-item .post-photo-wrapper .image_wrapper img, .post-item .post-photo-wrapper .image_wrapper {
    max-height: 165px;
}
@media all and (max-width: 767px){
.post-item .post-photo-wrapper .image_wrapper img, .post-item .post-photo-wrapper .image_wrapper {
    max-height: 100% !important;
}
}
@media all and (max-width: 1239px) and (min-width: 768px){
.post-item .post-photo-wrapper .image_wrapper img, .post-item .post-photo-wrapper .image_wrapper {
    max-height: 135px;
}
}
@media all and (max-width: 420px){
.red-bg-categories-box{
	font-size: 16px !important;
}
.black-bg-cat-box li.cat-item {
	min-width: 100% !important;
}
}
@media all and (max-width: 565px){
.black-bg-cat-box li.cat-item {
    min-width: 48%;
}
}
@media all and (max-width: 1239px){
.widget-area aside {
    width: 100% !important;
    margin: 0 auto;
    display: block;
}
}
.red-bg-categories-box ul li:before {
    content: "» ";
    position: relative;
    font-size: 16px;
    top: 0px;
    left: -7px;
}
.black-bg-cat-box {
    background: #222;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
    font-family: 'Playfair Display',Arial,Tahoma,sans-serif !important;
    min-height: 303px;
    padding: 30px 40px;
}

.black-bg-cat-box li.cat-item {
    max-width: 32%;
    display: inline-block;
padding-top: 10px;
}

.black-bg-cat-box ul li a:before {
    content: "» ";
    position: relative;
    font-size: 16px;
    top: 0px;
    left: -7px;
}

.black-bg-cat-box li.cat-item a {
    color: #fff;
    font-size: 16px;
}
.black-bg-cat-box li.cat-item:hover a {
text-decoration: none !important;
color: #d4b26b !important;
}
#fancybox-wrap{
position: fixed !important;
top: 75px !important;
}
.nav_kontener {
    bottom: 0;
    height: 10%;
    width: 90%;
    position: fixed;
    background: #222 !important;
    outline: 0;
    z-index: 111102;
    display: block;
    margin: 0 5%;
}
#fancybox-left {
	margin-left: 5%;	
}
#fancybox-right {
	margin-right:5%;
}
#fancybox-right, #fancybox-left {
    background: RGBA(34, 34, 34, 1) !important;
    width: 45% !important;
    visibility: visible !important;
}
#fancybox-left span {
    left: 80%;
	visibility: visible;
}
#fancybox-right span {
    left: auto;
    right: 80%;
	visibility: visible;
}
#fancybox-left:hover span {
    left: 80% !important;
}
#fancybox-right:hover span {
    left: auto !important;
    right: 80% !important;
}
@media all and (max-width: 390px){
.red-bg-categories-box a {
	font-size: 18px !important;
	width: 80% !important;
}
}
@media all and (max-width: 460px){
.widget-area .widget_categories li.cat-item {
    display: block;
	min-width: 100%;
}
}
@media all and (max-width: 767px){
.single .column_sidebar_widget{
display: none;
}
}
@media all and (max-width: 1239px){
.widget-area .widget_categories {
    padding-bottom: 71px !important;
}
}
/*@media all and (max-width: 1254px){

.widget-area .widget_categories {
    padding-bottom: 92px !important;
}

}*/
@media all and (max-width: 959px){
.social br {
    display: none;
}
.socials-divider{
display: none;
}
ul.social {
	display: block;
	margin: 0 25%;
	margin-top: 0% !important;
}

.one-fourth.JLD-logo, .one-fourth.JLD-socials {
    min-width: 100%;
}
.one-fourth.JLD-logo img, .JLD-join a.buttonFooter, .JLD-newsletter a.buttonFooter {
    display: block;
    margin: 0 auto;
}

.one-fourth.JLD-join, .one-fourth.JLD-newsletter {
    min-width: 48%;
}
.red-bg-categories-btn {
     font-size: 25px !important;
}
.widget-area aside {
	min-width:100%;
}
.widget-area .widget{
	padding-bottom: 0px !important;
    margin-bottom: 30px;	
}
.widget-area .widget_categories h4 {
	margin-left: 35px !important;
}
.widget_categories ul{
	padding-left:40px !important;
}
.widget-area .widget_categories{
	padding-bottom: 30px !important;
}
}
.widget_categories ul li:after{
display: none;
}
.red-bg-categories-box ul li {
    margin-bottom: 15px;
}
.red-bg-categories-btn {
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
}
.red-bg-categories-btn:hover {
    background: #fff;
    color: #d1242c;
    text-transform: uppercase;
    display: block;
    text-decoration: unset;
}
.red-bg-categories-box{
background: rgb(209, 36, 44) none repeat scroll 0% 0%; 
color: rgb(255, 255, 255); 
font-size: 18px; 
line-height: normal; 
font-weight: 300; 
font-family: 'Playfair Display',Arial,Tahoma,sans-serif !important; 
padding: 30px 40px!important;
min-height: 303px;
}

ul.social li {
padding-bottom: 10px;
}


.excerpt-hellip{
	display:none;
}

.box-cat h2 {
margin:25px 0;
}

.box-cat a {
    color: #000000;
text-decoration:underline;
}

.box-cat a:hover {
    color: #000000;
text-decoration:none;
}
img.footer-logo-network {
    vertical-align: middle;
}
.footer_copy .one {
    margin-bottom: 10px !important;
}
ul.social {
	margin-top: 5% !important;
}